<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/logo-eth-icon.png"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/materialize.css">
  </head>
  <body>
      <header>
          <!--start header band-->
          <nav>
              <div class="nav-wrapper grey darken-4">
                  <a href="#" data-activates="slide-out" class="button-collapse" id="btn_menu"><i class="material-icons">menu</i></a>
                  <a href="/" class="brand-logo white-text rightOuter"><img src="/images/logo-ethstarter.png" alt="Logo Ethstrater"/></a>
                  <ul id="nav-mobile" class="right">
                      <li><a href="/Connexion" id="btnConnexion" class="btnActive">Connexion</a></li>
                      <li><a href="/Inscription" id="btnInscription" class="btnActive">Inscription</a></li>
                  </ul>
              </div>
          </nav>
          <!--stop header band-->
          <!--start menu-->
          <ul id="slide-out" class="side-nav">
              <li><div class="user-view">
                  <!--User détails like firstname, surname, mail, account balance-->
              </div></li>
              <!--start if user is connected-->
              <!--<li><a href="/account/idAccount" class="waves-effect waves-light">Compte</a></li>-->
              <!--end if user is connected-->
              <!--start switch account type is connected-->
              <!--<li><a href="/account/startCrowfunding" class="waves-effect waves-light">Compte</a></li>-->
              <!--end switch account type is connected-->
              <li><a href="/crowfundings" class="waves-effect waves-light">Campagnes de financement</a></li>
              <li><a href="/howitworks" class="waves-effect waves-light">Comment ça fonctionne ?</a></li>
              <li><a href="/profile" class="waves-effect waves-light">Profile</a></li>
          </ul>
          <!--stop menu-->

      </header>
      <script src="/javascripts/jquery3-2-1.js"></script>
      <!--<script src="/javascripts/jquery-ui.min.js"></script>-->
      <script src="/javascripts/web3.min.js"></script>
      {{{body}}}
      <footer class="page-footer grey darken-4">
          <div class="container">
              <div class="row">
                  <div class="col s7">
                      <h5 class="white-text">Ethstarter</h5>
                      <p class="grey-text text-lighten-4">Ethstarter est une application web de financement participatif utlisant de l'<a href="https://www.ethereum-france.com/" class="blue-text lighten-1">Ethereum</a></p>
                      <br/>
                      <img src="/images/logo-eth-powered.png" alt="powered by Ethereum">
                  </div>
                  <div class="col s4 offset-s1">
                      <h5 class="white-text">Liens utiles</h5>
                      <ul>
                          <li><a class="blue-text lighten-1" href="https://www.ethereum.org/">Ethereum Project</a></li>
                          <li><a class="blue-text lighten-1" href="https://www.ethereum-france.com/">Ethereum France</a></li>
                          <li><a class="blue-text lighten-1" href="https://www.coinbase.com/">Acheter/Vendre de l'ether</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="footer-copyright">
              <div class="container">
                      ©2018 Application web développé par l'équipe 'Club Dorothée'.
              </div>
          </div>
      </footer>
      <script src="/javascripts/materialize.min.js"></script>
      <script src="/javascripts/main.js"></script>
  </body>
</html>
