<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/materialize.css">
  </head>
  <body>
      <script src="/javascripts/jquery3-2-1.js"></script>
      <script src="/javascripts/jquery-ui.min.js"></script>
      <script src="/javascripts/web3.min.js"></script>
    {{{body}}}
      <script src="/javascripts/materialize.min.js"></script>
      <script src="/javascripts/main.js"></script>
  </body>
</html>
