<div class="row">
    <div class="col s8 offset-s2">
        {{#if inscrit}}
            <span>{{inscrit}}</span>
        {{/if}}
        <h3>Salut</h3>
        <p>On peut l'améliorer au fur et à mesure du que le projet avance. J'ai pensé à mettre les nouveaux projets / projets tendances.</p>
        <p>On peut également mettre une barre de recherche des projets</p>
        <p>On peut l'améliorer au fur et à mesure du que le projet avance. J'ai pensé à mettre les nouveaux projets / projets tendances.</p>
        <p>On peut également mettre une barre de recherche des projets</p>
        <p>On peut l'améliorer au fur et à mesure du que le projet avance. J'ai pensé à mettre les nouveaux projets / projets tendances.</p>
        <p>On peut également mettre une barre de recherche des projets</p>
        <p>On peut l'améliorer au fur et à mesure du que le projet avance. J'ai pensé à mettre les nouveaux projets / projets tendances.</p>
        <p>On peut également mettre une barre de recherche des projets</p>
    </div>
</div>