<div id="profileContainer" class="center-align rightBuffer">
    <div class="row">
        <div class="card col s8">
            <div class="card-content">
                <h3 class="center-align">{{profile.nom}} {{profile.prenom}}</h3>
            </div>
        </div>
        <div class="col s1"></div>
    </div>
</div>
