<div class="row">
    <div class="rightOuter col s6 offset-s3">
        <h1>Connexion</h1>
        <form method="post" action="/validationConnexion">
            <table id="tableConnexion">
                <tr>
                    <td>Login :</td>
                    <td><input type="text" name="login"></td>
                </tr>
                <tr>
                    <td>Mot de passe :</td>
                    <td><input type="text" name="mdp"></td>
                </tr>
            </table>
            <input type="reset" value="Annuler">
            <input type="submit" value="connexion">
        </form>
    </div>
</div>