<div class="row center-align">
    <h1>Connexion</h1>
        <form method="post" action="/validationConnexion">
            <div class="input-field col s2 offset-s5">
                <input id="login" type="text" class="validate">
                <label for="login">Login</label>
            </div>
            <div class="input-field col s2 offset-s5">
                <input id="password" type="text" class="validate">
                <label for="password">Password</label>
            </div>
            <div class="col s12">
                <input class="btn" type="reset" value="Annuler">
                <input class="btn" type="submit" value="connexion">
            </div>
        </form>
</div>