<div class="rightOuter">
    {{#ifCond session.typeCompte '==' 2}}
        {{#ifCond session.entrepreneurValidated '==' 1}}
        <div class="container">
            <div class="row">
                <form class="col s12 " id="form">
                    <div class="row">
                        <div class="input-field col s6 offset-s3">
                            <input id="titreCampagne" name="titreCampagne" type="text" class="required">
                            <label for="Titre">Titre du projet</label>
                        </div>
                    </div>

                    <div class="row">
                    <div class="row">
                    </div>
                        <div class="col s3">
                            Description Rapide :
                        </div>
                        <div class="col s9">
                            <textarea id="descriptionCourte" name="descriptionCourte" maxlength="200" class="materialize-textarea required"></textarea>
                        </div>
                        <div class="col s12 offset-s11">
                            <p id="compteur"></p>
                        </div>
                    </div>


                    <div class="row file-field input-field col s9 offset-s3">
                        <div class="btn">
                            <span>Image de présentation</span>
                            <input type="file" name="image" accept="image/*">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" required>
                        </div>
                    </div>


                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col s3">
                            Présentation Détaillée:
                        </div>
                        <div class="input-field col s12">
                            <textarea id="description" name="description" class="required"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3">Catégorie :</div>
                        <div class="col s9">
                            <select><option value="" disabled selected>Choisir Catégorie</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                            <label>Materialize Select</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3">Durée campagne :</div>
                        <div class="input-field col s9">
                            <input type="text" id="datepicker" name="datepicker" class="datepicker">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3"><br/>Objectif de financement :</div>
                        <div class="input-field col s6">
                            <input type="text" id="objectif" name="objectif" min="0" required>
                            <label for="objectif" data-error="wrong" data-success="right">Objectif</label>
                        </div>
                        <div class="col s2">
                            <img src="/images/logo-eth.png" alt="Logo Eths" width="50" />
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <div class="col s3 tooltiped" data-position="bottom" data-tooltip="Si votre campagne atteint cette valeur, votre campagne est arrêté."><br/> Objectif de financement maximum : <i class="small material-icons">info_outline</i> </div>
                        <div class="input-field col s6">
                            <input type="text" id="objectifMax" name="objectif" min="0" required>
                            <label for="objectif" data-error="wrong" data-success="right">Objectif maximum</label>
                        </div>
                        <div class="col s2">
                            <img src="/images/logo-eth.png" alt="Logo Eths" width="50" />
                        </div>
                    </div>
                    <hr />
                    <div id="superContainerCP">
                        <div id="containerCP">

                        </div>
                        <a id="addCP" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a>
                    </div>
                    <h5 id="error" class="red-text"></h5>
                    <div class="row">
                        <div class=" col s6 offset-s4">
                            <a class="btn waves-effect waves-light tooltiped" data-position="top" data-tooltip="Si votre campagne a atteint son but, nous vous prélevons 0.04 ether" id="submit">Enregistrer</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div id="modal1" class="modal">
          <div class="modal-content">
            <h5 class="center-align">Félicitation! Votre Campagne est en cours de validation :)</h5>
            <div class="preloader-wrapper big active center-align">
              <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>

              <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>

              <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>

              <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{else}}
            <h3>Votre compte n'a pas le droit de créer une campagne</h3>
        {{/ifCond}}
    {{else}}
        <h3>Vous devez être connecté en tant qu'entrepreneur</h3>
    {{/ifCond}}
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://cdn.wysibb.com/js/jquery.wysibb.min.js"></script>


<script src="/javascripts/creerCampagne.js"></script>

<link rel="stylesheet" href="/stylesheets/creerCampagne.css">
