<div class="row center-align">
    <h1>Inscription contributeur</h1>
        <form method="post" action="/validationInscriptionContributeur">
            <div class="input-field col s2 offset-s5">
                <input name="lastname" type="text" class="validate">
                <label for="lastname">Last name</label>
            </div>
            <div class="input-field col s2 offset-s5">
                <input name="firstname" type="text" class="validate">
                <label for="firstname">First name</label>
            </div>
            <div class="input-field col s2 offset-s5">
                <input name="email" type="text" class="validate">
                <label for="email">E-mail</label>
            </div>
            <div class="input-field col s2 offset-s5">
                    <input name="login" type="text" class="validate">
                <label for="login">Login</label>
            </div>
            <div class="input-field col s2 offset-s5">
                <input name="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
            <div class="input-field col s2 offset-s5">
                <input name="adress" type="text" class="validate">
                <label for="adress">Ethereum adress</label>
            </div>
            <div class="col s12">
                <input class="btn waves-effect waves-light" type="reset" value="Annuler">
                <input class="btn waves-effect waves-light" type="submit" value="inscription">
            </div>
        </form>
</div>