<div class ="row center-align">
    <h1>Contribution à la campagne</h1>
    <form method="post" action="/validationParticipation">
    <div class="input-field col s2 offset-s5">
            <label for="montant">Je souhaite contribuer un mettant le montant de:</label>
            <input id="montant" type="text" class="validate">
    </div>
    <div class="col s12">
        <input class="btn waves-effect waves-light" type="reset" value="Annuler">
        <input class="btn waves-effect waves-light" type="submit" value="Confirmer la contribution">
    </div>
    </form>
</div>