{{#ifCond session.typeCompte '==' 0}}
    <div id="container" class="center-align">
        <h3>Administration</h3>
        <div class="row center-align tabs-fixed-width">
            <div style="margin-left: 22.5rem" class="col s9 center-align">
                <ul class="tabs">
                    <li class="tab col s3"><a id="contributeursTab" href="#contributeurs">Contributeurs</a></li>
                    <li class="tab col s3"><a id="entrepreneursTab" href="#entrepreneurs">Entrepreneurs</a></li>
                    <li class="tab col s3"><a id="campagnesTab" href="#campagnes">Campagnes</a></li>
                </ul>
            </div>
            <div id="contributeurs" class="col s12">

            </div>
            <div id="entrepreneurs" class="col s12">

            </div>
            <div id="campagnes" class="col s12">

            </div>
        </div>
    </div>
    <div id="modalDelete" class="modal">
        <div class="modal-content">
            <h4>Supprimer votre compte</h4>
            <p style="font-size: 1.5vw"><b>Attention ! La suppression du compte entraînera la perte des données de l'utilisateur dans notre application !</b></p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Annuler</a>
            <a onclick="deleteUser()" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Supprimer</a>
        </div>
    </div>
    <div id="modalWaitDelete" class="modal">
        <div class="modal-content">
            <h5 class="center-align">Suppression du compte</h5>
            <div class="preloader-wrapper big active center-align">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
                </div>

                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/fetchAdministration.js"></script>
    <script src="/javascripts/deleteUserModerator.js"></script>
{{else}}
    <h4 class="center-align">Vous n'avez pas accès à cette page</h4>
{{/ifCond}}