
.campagnesContainer {
    max-width: 1400px;
    margin: auto;
    padding-top: 2em;
}

.cardImg {
    height: 20vw;
}


.card {
    overflow-y: hidden;
}

.card .card-image ~ .card-reveal {
    display: block;
    transform: translateY(0%);
    pointer-events: none;
    transition: transform 0.3s;
}

.card .card-image:active ~ .card-reveal, .card .card-image:hover ~ .card-reveal {
    display: block;
    transform: translateY(calc(-100% - 1px));
}